<div class="container mt-5">

    <div class="row">
        <div class="col text-center">
            <h1 class="colorFont">
                Selecciona donde quieres buscar restaurantes y luego aceptar
            </h1>
            <button class="btn btn-primary" (click)="buscarRestFromCoordenates()">
                <i class="fa fa-arrow-right"></i>
                Aceptar
            </button>
        </div>
    </div>



    <div class="row mt-4">
        <div class="col">

            <div class="map" id="map"></div>
            <pre id="coordinates" class="coordinat"></pre>
            <form #f="ngForm" (change)="cambios(f)" id="menu" class="colorFont">
                <input type="radio" [(ngModel)]="rtoggle" name="rtoggle" value="streets-v11" checked="checked" />
                <label class="radio-inline">streets</label>
                <input type="radio" [(ngModel)]="rtoggle" name="rtoggle" value="light-v10" />
                <label class="radio-inline">light</label>
                <input type="radio" [(ngModel)]="rtoggle" name="rtoggle" value="dark-v10" />
                <label class="radio-inline">dark</label>
                <input type="radio" [(ngModel)]="rtoggle" name="rtoggle" value="outdoors-v11" />
                <label class="radio-inline">outdoors</label>
                <input type="radio" [(ngModel)]="rtoggle" name="rtoggle" value="satellite-v9" />
                <label class="radio-inline">satellite</label>
            </form>
        </div>
    </div>

</div>